{{!-- <br><br><br><br><br><br> --}}
{{!-- <div>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -mx-4 -mb-10 text-center">
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" height="400px" width="400px"
              src="donate2.png">
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Donate</h2>
          <p class="leading-relaxed text-base">Regular blood donation is linked to lower blood pressure and a lower risk
            for heart attacks.It helps to reduce cardiovascular risk factors.</p>
          <a href="donorlogin.html" style="background: rgb(226, 60, 60);" class="btn btn-primary">Donate</a>
        </div>
        <div class="sm:w-1/2 mb-10 px-4">
          <div class="rounded-lg h-64 overflow-hidden">
            <img alt="content" class="object-cover object-center h-full w-full" height="400px" width="400px"
              src="receive.jpg">
          </div>
          <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3">Receive</h2>
          <p class="leading-relaxed text-base">A patient can receive blood that has the same ABO antigens as theirs,
            plus O. Rh+ can receive Rh+ or Rh-, while Rh- must receive Rh- blood.</p>
          <a href="BloodAvailability.html" style="background: rgb(226, 60, 60);" class="btn btn-primary">Blood
            Availability</a>
        </div>
      </div>
    </div>
  </section>
</div> --}}
{{!-- <br><br><br><br><br><br> --}}
<hr>
<div class="card-group" style="padding:60px ;">
  <div class="card card-1">
    <img src="BloodDonation.jpeg"
      style="height:250px;width: 350px; margin:35px" class="card-img-top" alt="...">
    <div class="card-body" style="height:300px;width: 400px">
      <h5 class="card-title">Learn About Donation</h5>
      <p class="card-text">After donating blood, the body works to replenish the blood loss. This stimulates the
        production of new blood cells and in turn, helps in maintaining good health.Donors of whole blood donations
        should weigh at least 45 kg to donate 350 ml ± 10%.
        You must be in good health at the time you donate.</p>

    </div>
  </div>
  <div class="card card-2">
    <img
      src="https://www.scienceabc.com/wp-content/uploads/ext-www.scienceabc.com/wp-content/uploads/2017/03/Red-blood-cell-compatibility-table-coolfeed.co_.jpg-.jpg"
      style="height:250px;width: 350px; margin:35px" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Blood Compatibility</h5>
      <p class="card-text">It is to check potential incompatibilities between blood group systems in blood tranfusions.
        Group O is an Universal donor and group AB is Universal recepient</p>

    </div>
  </div>
  <div class="card card-3">
    <img src="blood.jpg" style="height:250px;width: 350px; margin:35px" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Types of donation</h5>
      <p class="card-text">The human body contains five liters of blood, which is made of several useful components
        i.e. Whole blood, Platelet, and Plasma.

        Each type of component has several medical uses and can be used for different medical treatments. your blood
        donation determines the best donation for you to make.</p>

    </div>
  </div>
</div>